<div
	id="group-form" data-action="{{ path('superproductgroups_handle_form_submit') }}">

	<!-- Add hidden input for current product ID -->
	<input type="hidden" id="current-product-id" name="id_super_product" value="{{ super_product.id }}">

	{{ form_start(form) }}
	{{ form_errors(form) }}

  <div id="group-rows" data-prototype="
    <div class='group-entry mb-3'>
        <div class='row align-items-center'>
            <div class='col-md-3'>
                {{ form_widget(form.groups.vars.prototype['group_name'], {'attr': {'class': 'form-control'}})|e('html_attr') }}
            </div>
            <div class='col-md-4'>
                {{ form_widget(form.groups.vars.prototype['group_image'], {'attr': {'class': 'form-control-file'}})|e('html_attr') }}
            </div>
            <div class='col-md-3'>
                {{ form_widget(form.groups.vars.prototype['group_products'], {'attr': {'class': 'js-product-search form-control'}})|e('html_attr') }}
            </div>
        </div>
    </div>
">

		{% for group in form.groups %}
			<div class="group-entry mb-3">
				<div class="row align-items-center">
					{{ form_widget(group.group_id) }}
					<div class="col-md-3">
						{{ form_widget(group.group_name) }}
					</div>

					<div class="col-md-4 d-flex align-items-center">

						{# Check if the group already has an image saved #}
						{% if group.vars['value']['group_image'] %}
							<div class="image-container mr-2">
								<img src="{{ group.vars['value']['group_image'] }}" alt="Group Image" class="img-thumbnail">
							</div>
						{% endif %}
						{{ form_widget(group.group_image) }}
					</div>

					<div class="col-md-3">
						<button type="button" class="btn btn-secondary js-open-product-popup w-full" data-group-id="{{ group.group_id.vars.value }}" data-group-products="{{ group.group_products.vars.value|join(',') }}">
							Products:
							<span class="product-count">{{ group.group_products.vars.value|length }}</span>
						</button>
					</div>

					<div class="col-md-2">
						<button type="button" class="btn btn-danger js-delete-group w-full" data-group-id="{{ group.group_id.vars.value }}">Retiré</button>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="row mt-4">
		<div class="col-md-10 text-start">
			<button type="button" id="add-row" class="btn btn-secondary">Ajouter un groupe</button>
		</div>
		<div class="col-md-2 text-end">
			<button type="submit" id="save-form" class="btn btn-primary w-full">Enregistrer</button>
		</div>
	</div>

	{{ form_end(form) }}

	<div id="message-container" class="mt-3"></div>
</div>


<!-- Popup -->
<div id="product-popup" class="popup-overlay">
	<div class="popup-content">
		<div class="popup-header">
			<h3>Ajouter des Produits</h3>
			<button type="button" class="btn-close" id="close-popup" aria-label="Close"></button>
		</div>

		<!-- Search and Actions -->
		<div class="popup-actions">
			<div class="action-buttons">
				{# <button type="button" class="btn btn-secondary js-export-products">Exporter</button>
				<button type="button" class="btn btn-secondary">Importer</button> #}
				<button type="button" class="btn btn-danger js-delete-all-products">Supprimer tous les produits</button>
			</div>
		</div>


		<!-- Add Product -->
		<div class="add-product">
			<input type="text" id="add-product-name" class="js-add-product-name form-control mb-2" placeholder="Nom du produit" autocomplete="off"/>
			<ul id="autocomplete-dropdown" class="dropdown-menu" style="display: none;"></ul>
			<button type="button" class="btn btn-primary" id="add-product">Ajouter</button>
		</div>

		<ul
			id="product-list" class="list-group mt-3"><!-- Dynamically added products will appear here -->
		</ul>

		<!-- Save Button -->
		<div class="popup-footer mt-3 text-end">
			<button type="button" class="btn btn-success" id="save-products">Enregistrer</button>
		</div>

	</div>
</div>
